
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Models (ignore raw data if too large, but typically kept for school projects)
# data/Telco-Customer-Churn.csv 
#models/*.pkl
#models/*.joblib

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/
static/

# OS
.DS_Store
Thumbs.db
